.form-container {
    width: 100%;
    min-height: 100vh;
    padding: 30px;
    background-image: url('/public/cool-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    border: 1px solid;
}

.form-container h1 {
    font-size: 4rem;
}

@media (max-width:780px) {
    .form-container h1 {
        font-size: 2.5rem;
    }
}