.contact-form {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.name {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.submit {
    margin-top: 30px;
}

.submit input {
    background-color: #1a1a1a;
    color: #ffffff;
}

@media (max-width:780px) {
    .name {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}